body{
  height: 100vh;
  /*
  overflow: hidden;
  */
}

#root{
  height: 100%;
}

.resume-container {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr;
    padding-left: 5em;
  padding-right: 5em;
  height: 100%;
  */
  background-color: gray; /* Remove this when style is finalized*/
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  gap: 40px;
  box-sizing: border-box;
}

.resume-inputs{
  border: 1px solid red;
  background-color: white;
  width: 600px;
  font-size: 0.85em;
}

fieldset{
  padding: 0.25em;
}

p{
  margin: 0;
}

label{
  display: inline-block;
  width: 50px;
  /*
  text-align: right;
  */
  padding-right: 15px;
}

.personal-info input{
  width: 150px;
}

.personal-info{
  display: flex;
  flex-flow: column wrap;
  height: 100px;
}

/*
// Styles for the rendered resume
*/

.resume-render{
  border: 1px solid black;
  background-color: white;
  padding: 43px;
  height: 943px;
  width: 728.68px;
  /*
  aspect-ratio: 8.5/11;
  */
  box-sizing: border-box;
  font-size: 0.75em;
}

.info{
  border-bottom:1px solid black;
  height: auto;
  padding-bottom: 0.5em;
}

.name{
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.info-blank{
  width: 2em;
}

th{
  text-align: start;
  padding-right: 1em;
}

.experience{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
}

h2{
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.experience-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0.5em;
}

.experience-title {
  font-size: 1.25em;
  font-weight: bold;
}

.experience-company{
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: 0.25em;
}



/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/